
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&family=Montserrat:wght@300&family=Muli:wght@700&family=Roboto+Condensed:ital@1&display=swap');



/* Error */
#error {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 92vh;
} 

#error h3 {
  color: red;
  margin: 0 0 30px;
}

#error a {
  font-size: 20px;
}

/* ========= */
#logo {
  width: 40px;
}
#nav-container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid black !important;
}
#my-nav {
  background-color: rgba(255, 255,255, 1) !important;
}
#my-nav div {
  color: black;
}
@media screen and (min-width: 768px) {
  #nav-container {
    display: none;
    border: none;
  }
  #my-nav {
    display: none;
  }
}

/* Home */
#banner-container {
  width: 100%;
  /* font-family: 'Francois One', sans-serif; */
  font-family: 'Lexend Tera', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  max-height: 100vh;
  
  color: white;
  /* background-image: linear-gradient(to bottom right, rgb(0, 175, 245), rgb(149, 148, 182)); */
  /* background-image: linear-gradient(to bottom right, rgb(90, 85, 238), rgb(14, 33, 94)); */
  /* background-image: linear-gradient(to bottom right, rgb(90, 85, 238), rgb(14, 33, 94)); */
  background-color: #2f5bdf;
  -webkit-animation: Waves 0s ease infinite;
  -moz-animation: Waves 0s ease infinite;
  animation: Waves 0s ease infinite;
}
@-webkit-keyframes Waves {
    0%{background-position:0% 70%}
    50%{background-position:100% 31%}
    100%{background-position:0% 70%}
}
@-moz-keyframes Waves {
    0%{background-position:0% 70%}
    50%{background-position:100% 31%}
    100%{background-position:0% 70%}
}
@keyframes Waves {
    0%{background-position:0% 70%}
    50%{background-position:100% 31%}
    100%{background-position:0% 70%}
}
#name {
  font-size: 100px;
}
#occupation {
  font-size: 25px;
  margin-top: -30px;
}
#banner-btn-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
.banner-btn {
  cursor: pointer;
  color: white;
  margin: 60px 20px 0 20px;
  font-size: 20px;
  
}
.banner-btn:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (min-width: 0px) and (max-width: 767px){
  #name {
    font-size: 30px;
    white-space: nowrap;
  }
  #occupation {
    margin: 0;
    font-size: 16px;
    white-space: pre-line;
  }
  .banner-btn {
    margin-top: 20px;
  }
  #banner-btn-container {
    margin-top: 30px;
  }
} 
/* =====================
/* =-=-=-=-=-=-=-=-=-=-= */
/* About */
#about-container{
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: black;
}
#about-container p {
  line-height: 2.2em;
  max-width: 100%;
  font-size: 14px;
}
#about-page {
  position: relative;
}
#about-left-side, #about-right-side {
  position: relative;
}
#about-name {
  text-align: center;
  margin-top: 30px;
}
#my-school {
  text-align: center;
  margin-top: -10px;
}
#my-photo {
  width: 100%;
  border-radius: 500px;
}

#link-container {
  margin: 35px auto 20px auto;
  text-align: center;
  font-family: 'Muli', sans-serif;
  color: white;
  width: 100%;
  justify-content: center;
}
.link-btn {
  background-color: #2f5bdf;
  outline: black;
  box-shadow: none;
  border-radius: 5px;
  max-width: 22.5%;
  margin: 0 1.25% 0 1.25%;
  color: white;
}
.link-btn:hover {
  color: white;
  background: rgb(55, 69, 133);
  text-decoration: none;
}
.link-btn:focus {
  color: white;
  text-decoration: none;
}
#about-detail{
  margin-bottom: 50px;
  position: relative;
}
#skills-list {
  width: 100%;
}
.skill {
  margin: 0 5px 5px 0;
  padding: 5px 12.5px 5px 12.5px;
  border-radius: 25px;
  background-color: rgb(0, 46, 253);
  color: white !important;
  display: inline-block;
}

.arrow-toggle {
  padding: 0 10px 0 10px;
  cursor: pointer;
}
#courses-btn, #courses-btn i {
  cursor: pointer !important;
}
#my-courses {
  right: 12.5px;
  width: 100%;
  line-height: 1.75em;
  position: relative;
  padding-bottom: 50px;
}
#course-notes {
  font-style: italic;
  left: 50px;
}
.top-100 {
  margin-top: 93px; /* best margin is 93 */
}

@media screen and (min-width: 0px) and (max-width: 991px){
  #about-container {
    height: auto;
  }
  #about-container h1 {
    margin-top: 40px;
    font-size: xx-large;
  }
  #about-container h3 {
    font-size: x-large;
  }
  #about-right-side {
    width: 90%;
    margin: auto;
  }
  #my-photo {
    margin-top: 100px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  #link-container {
    margin: auto;
  }
  .link-btn {
    max-width: 30%;
    margin: 0 2.5% 10px 2.5%;
  }
  #my-courses {
    position: relative;
  }
  .top-100 { 
    margin-top: 0; /* if the screen is small, we don't need that buffer at the top to compensate for the courses list */
  }
}
/* ===================== */
/* ======== Projects ========= */

#projects-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(3, 218, 247);
  color: black;
  font-family: 'Montserrat', sans-serif;
}
#projects-page h1 {
  margin-bottom: 30px;
  text-align: center;
}
.project {
  margin-bottom: 30px;
}
.project-container {
  width: 100%;
  margin: auto;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}
.project-container:hover {
  transform: scale(1.05);
}
.project-container img {
  width: 100%;
}
.project-container p {
  text-align: center;
  font-size: 22px;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 5px 0 5px;
  color: black;
}

#details-row {
  line-height: 1.75em;
  position: relative;
  padding-bottom: 50px;
}

.top-50 {
  padding-top: 50px;
}

#close-details-icon {
  font-size: 25px;
  
}
#project-details h2 {
  cursor: pointer;
}
.details-btn {
  background-color: green;
  outline: black;
  box-shadow: none;
  border-radius: 5px;
  color: white;
  margin: 0 5px 10px 0;
}
.hide-btn {
  display: none;
}
.details-btn:hover {
  color: white;
  background: rgb(55, 69, 133);
  text-decoration: none;
}
.details-btn:focus {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 0px) and (max-width: 767px) { 
  #projects-page {
    padding: 80px 0 50px;
  }
}

@media screen and (min-width: 0px) and (max-width: 991px) { 

  #project-details {
    width: 90%;
    margin: auto;
  }

  #project-details h2 {
    padding-top: 30px;
  }
}